#contact-container{
    margin: auto;
    border: 2px red solid;
    height: 500px;
    width: 700px;
}

#pic{
    height: 100%;
    width: 30%;
    border: 2px green solid;
}

#contentContainer{
    height:100%;
    width:70%;  
    border: 2px yellow solid;  
}

#contactHeader{
    height:15%;
    width:100%;
    border: 2px pink solid; 
}

#contactContent{
    height:85%;
    width:100%;
    border: 2px purple solid;     
}