#luca-name {
    background: linear-gradient(270deg,red,#ff6300,#ffdf00,#8dff00,#06ff00,#00ffc4,#00c9ff,#0059ff,#0100ff,#6700ff,#ff00fa,#ff00a0);
    background-size: 2000% 2000%;
    animation: Rainbow 20s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#lucapic{
    max-width: 100%;
    max-height: 100%;
    -ms-border-radius: 15%;
    -o-border-radius: 15%;
    border-radius: 15%;
    -webkit-border-radius: 15%;
    overflow: hidden;    
}

.omega {
    margin-right: 0;
}

#intro {
    background-color: rgba(255,255,255,0.5);
}
.slide {
    background-attachment: fixed;
    width: 100%;
    height: auto;
    position: relative;
    padding: 20px 0;
}
