#luca-name {
    color: #3366ff;
    background-size: 2000% 2000%;
}

#lucapic{
    max-width: 100%;
    max-height: 100%;
    -ms-border-radius: 15%;
    -o-border-radius: 15%;
    border-radius: 15%;
    -webkit-border-radius: 15%;
    overflow: hidden;    
}

.omega {
    margin-right: 0;
}

#intro {
    background-color: rgba(255,255,255,0.5);
}
.slide {
    background-attachment: fixed;
    width: 100%;
    height: auto;
    position: relative;
    padding: 20px 0;
}
