#hero1{
    background-image: url('../images/Redondo-Beach-Pier-1.jpg');
    background-size: cover;
    background-position: center center;
    top: 0;
    bottom: 0;
    height: 100vh;
}

/*#hero-overlay{
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0);
}*/



#pdfContainer{
    margin:auto;
    width: 50%;
    padding: 10px;
}




.white-text{
    color: white;
}



@media (min-width: 1200px) {
    .container{
        max-width: 870px;
    }
}