#hero2{
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    background-image: url('../images/Redondo-Beach-Pier-1.jpg');
    background-size: cover;
    background-position: center center;
    top: 0;
    bottom: 0;
    height: 100vh;
    
}


#hero2child{
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px red solid;
}

.child {
    padding-top: 8%;
}

.carouselContainers{
    padding-top: 4%;
}

.arrowParent{
    text-align:center;
    border: 4px green solid;
    padding-bottom: auto;
}

.apex-dn {
    height: 0px;
    width: 0px;
    border-left:30px solid transparent;
    border-right:30px solid transparent;
    border-top:30px solid #fff;
    margin: auto;
}



#peekPanel{
    background-color: rgb(225,239 ,240);
}

#pw-panelscontainer{
    margin: auto;
    width: 40%;
}

.pw-panel{
    width: 100%;
    height: 100%;
    margin: auto;
}